{% extends "_partial.html" %}
{% block site_title %} Labrador | Add new victim of service {{ service.name }} {% endblock %}

{% block content %}
<h1>Add new victim of service <strong>"{{ service.name}}"</strong> </h1>
<form id="victim-info" method="POST" >
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Fill victim infomation</div>
    </div>
    <div class="panel-body">
        
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username" class="control-label">User name(*)</label>        
                        <input type="text" class="form-control" id="username" name="username" placeholder="User name. You can self-define this name" />        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="control-label">Email(*)</label>        
                        <input type="email" class="form-control" id="email" name="email" />        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="token" class="control-label">Token String(*)</label>        
                <input type="text" class="form-control" id="token" name="token" />        
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="frequency" class="control-label">Frequency crawling</label>        
                        <select class="form-control" id="frequency" name="frequency">
                            <option value="3600">1 Hour</option>
                            <option value="10800">3 Hours</option>
                            <option value="21600">6 Hours</option>
                            <option value="43200">12 Hours</option>
                            <option value="86400" selected>1 day</option>
                            <option value="172800">2 days</option>
                            <option value="259200">3 days</option>
                            <option value="452000">5 days</option>
                            <option value="604800">1 week</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="active" class="control-label">Active to crawl</label>
                        <select class="form-control" id="active" name="active">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
        
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary">Save victim</button>
        <button class="btn btn-default" type="reset">Reset info</button>
    </div>
</div>
</form>
{% endblock %}