{% extends "_partial.html" %}
{% block site_title %} Labrador | Victim list {% endblock %}

{% block content %}
<h1>Victims list</h1>
<a href="{% url 'service-add' %}" class="btn btn-success">Create new service</a>

{% endblock %}