{% extends "_partial.html" %}
{% load victim_custom_tag %}
{% block site_title %} Labrador | Victims of {{ service.name }} {% endblock %}

{% block content %}
<h1>Victims of <strong>"{{ service.name}}"</strong></h1>
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'victim-add' service.slug %}" class="btn btn-success">Add new victim</a>
        <a href="#" id="import-victim" class="btn btn-primary">Import</a>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Victim list</div>        
    </div>
    <div class="panel-body">
        <table id="victim-list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Frequency</th>
                    <th>Status</th>
                    <th>Last crawl</th>
                    <th>Created date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for victim in victims %}
                <tr>
                    <td>{{victim.email}}</td>
                    <td>{{victim.frequency|second_to_year }}</td>
                    <td>
                        {% if victim.active == True %} 
                            <span class="label label-success">Active</span>
                        {% else %}
                            <span class="label label-danger">Deactive</span>
                        {% endif %}
                    </td>
                    <td>{{victim.last_crawl|second_since_now}}</td>
                    <td>{% if victim.create_date != None %} {{victim.create_date | unixtime_to_human}} {%endif%}</td>
                    <td>
                        <a href="{% url 'victim-edit' victim.provider.slug victim.email|base64_encode %}">Edit</a>|
                        <a href="#" data-email="{{victim.email}}" class="delete-victim">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Hidden area -->

<input type="file" name="tmp_file" id="tmp_file" style="display: none" />
<!-- Modal manual crawl-->
<div class="modal fade" id="manual-crawl-modal" tabindex="-1" role="dialog" aria-labelledby="crawl-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="crawl-modal-label">Direct Crawling</h4>
      </div>
      <div class="modal-body">
        <p>Enter number of messages you want to crawl from NOW.</p>
        <input type="number" class="form-control" />
        <input id="email" type="hidden" />
      </div>
      <div class="modal-footer">
        <button id="direct-crawl" type="button" class="btn btn-default" >Crawl now</button>
      </div>
    </div>
  </div>
</div>
<!-- End of hidden area -->

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(document).ready(function(){
        $('#victim-list').DataTable({
            "ordering": false,
            serverSide : true,
            ajax: {
                url: '{% url 'victim-list' service.slug %}',
                type: 'POST',                
            },            
        });
        
        // Element with class "delete-victim" click
        $('#victim-list').on('click', '.delete-victim', function(){
            if(confirm('Are you sure to delete "' + $(this).data('email') + '"?')){
                $.ajax({
                    url : '{% url 'victim-delete'%}',
                    method : 'POST',
                    data: {
                        'email': $(this).data('email'),
                        'provider': '{{ service.slug }}'
                    }
                    }).success(function(data){
                        if(data.status == 'ok'){
                            alert("You have been delete a record successful")                            
                            $('.delete-victim[data-email="' + data.email + '"]').parents('tr').remove();
                        }else{
                            alert("There were some problems. Please check data again.")                            
                        }
                })
            }            
            return false;
        })
        
        // Open crawl modal
        $('#victim-list').on('click', '.manual-crawl', function(){
           var email_address = $(this).data('email');
        
           $.ajax({
                url: '{% url 'victim-directed-crawl' service.slug %}',
                method: 'POST',
                data : {
                    'action': 'html_form',
                    'email': email_address,
                }
           }).done(function(res){
                var modal_form = $($('div.modal-body', '#manual-crawl-modal')[0]);
                modal_form.html('');
                
                
                for (element in res['html-element']){
                    res_element = res['html-element'][element];
                    var new_element = $('<' + res_element['_tag'] + '>');
                    
                    for (attribute in res_element){                        
                        switch(attribute){
                            case '_html':
                                $(new_element).html(res_element[attribute]);
                                break;
                            case '_tag':
                                break;
                            default:
                                $(new_element).attr(attribute, res_element[attribute]);
                                break;
                        }
                        
                    }                                   
                    modal_form.append(new_element);
                }
                $("#manual-crawl-modal").modal();
           })        
        
            
            $("input#email", "#manual-crawl-modal").val($(this).data('email'));
            return false;
        });
        
        // Element with ID "import-vicim" click
        $("#import-victim").click(function(){
            $("#tmp_file").data('slug', $(this).data('id'));
            $("#tmp_file").click();
            
        })
        
        // Click direct crawl button
        $("#direct-crawl").click(function(){
            form_data = {}        
            elements = $("input, select, textarea", "#manual-crawl-modal div.modal-body")
            for ( i=0; i<elements.length; i++){
                form_data[$(elements[i]).attr('name')] = $(elements[i]).val();
            }
            form_data['action'] = 'crawl_button';
        
            $.ajax({
                url: '{% url 'victim-directed-crawl' service.slug %}',
                method: 'POST',
                data : form_data
            }).done(function(res){
                if( res.status == 'fail'){
                    alert(res.message)
                }else{
                    $("#manual-crawl-modal").modal('hide');
                    alert("Crawl system started, please wait until it finish.")
                }
            })
            
        });
        
        
        $("#tmp_file").change(function(){
            var formData = new FormData();            
            formData.append('import_file', this.files[0]);
            formData.append('service_slug', '{{ service.slug }}');
            $.ajax({
                url :   '{% url 'victim-import' %}',
                data:   formData,
                processData: false,
                contentType: false,
                type:   'POST'
            }).done(function (res) {
                alert(res.message)
                if(res.status == 'success'){
                    window.location = '{% url 'services-index'%}'
                }
            })
        })
    })
</script>
{% endblock %}