{% extends "_partial.html" %}
{% block site_title %} Labrador - Create new service{% endblock %}
{% block content %}
<h1>Create new service</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Fill service informations</div>
    </div>
    <div class="panel-body">
        <form id="create-service-form" method="post" action="{% url 'service-store' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="control-label">Service name</label>        
                <input type="text" class="form-control" id="name" name="name" placeholder="Fill service name. Ex: Gmail of skyland.com" />        
            </div>
            <div class="form-group">
                <label for="provider" class="control-label">Provider</label>        
                <select id="provider" name="provider" class="form-control">
                    <option value="">Select a provider</option>
                    {% for provider in providers %}
                        <option value="{{provider}}">{{provider}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="dynamic_field">
            </div>
            <div class="checkbox">
                <label for="active" class="control-label">
                    <input type="checkbox" name="active" id="active" checked />Active
                </label>        
                
            </div>
            <hr />
            <button class="btn btn-primary">Create new</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </form>
    </div>
</div>
<script>
    function fetch_provider_fields(provider_class){
        // check if user don't select a provider
        if (provider_class.trim() != ''){
            $.ajax({
                url : '{% url 'service-ajax-provider-fields' %}',
                method: 'POST',
                data: {
                    'provider': provider_class
                }
            }).success(function(data){
                html_data = '';
                form_file = 0;
                for (field in data){
                    elements = {}
                    
                    // get form elements refer from model attributes
                    $.each(data[field], function(key, value){
                        elements[key] = value
                        
                        // check if form has file element, then change form encrypt type
                        if ( key == 'input_type' && value == 'file' ){
                            form_file = 1;
                        }
                    })
                    
                    html_data += '\
                    <div class="form-group">\
                        <label for="' + provider_class + '_' + elements.input_name + '" class="control-label">' + elements.label_text + '</label>        \
                        <input type="' + elements.input_type + '" class="form-control" id="' + provider_class + '_' + elements.input_name + '" name="' + provider_class + '_' + elements.input_name + '" placeholder="' + elements.input_placeholder + '"/>        \
                    </div>\
                    ';
                }
                
                // reset form encrypt type
                $("#create-service-form").removeAttr('enctype');
                
                if(form_file == 1){
                    $("#create-service-form").attr('enctype', 'multipart/form-data');
                }
                
                $("#dynamic_field").html(html_data);
                
            });
        }else{
            $("#dynamic_field").html('');
        }
    }
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });    
    
    $(document).ready(function(){
        fetch_provider_fields($("#provider").val());
    
        $("#provider").change(function(){
            fetch_provider_fields($(this).val());
        })
        
        
    })
</script>


{% endblock %}