{% extends "_partial.html" %}
{% block site_title %} Labrador | Service list{% endblock %}

{% block content %}
<h1>List all the services</h1>
<a href="{% url 'service-add' %}" class="btn btn-success">Create new service</a>
<br />
<table class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Service name</th>
        <th>Provider</th>
        <th>Total victims</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    {% for service in data %}
    <tr>
        <td>{{service.name}}</td>
        <td>{{service.service_type}}</td>
        <td>
            {% if service.num_victim > 0 %}
            <a href={% url 'victim-list' service.id%}> {{service.num_victim}} </a>
            {% else %}
            0
            {% endif %}
        </td>
        <td>
            <a href="{% url 'service-update' service.id %}">Edit</a> | 
            <a href="#" class="delete-service" data-slug="{{ service.id }}">Delete</a> |
            <a href="{% url 'victim-add' service.id %}">Add victim</a> | 
            <a href="#" class="import-victim" data-id="{{service.id}}">Import victim</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<input type="file" name="tmp_file" id="tmp_file" style="display: none" />
<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(document).ready(function(){
        $('.delete-service').click(function(){
            if(confirm('Are you sure to delete service with slug "' + $(this).data('slug') + '"?')){
                $.ajax({
                    url : '{% url 'service-delete'%}',
                    method : 'POST',
                    data: {
                        'slug': $(this).data('slug')
                    }
                    }).success(function(data){
                        if(data.status == 'OK'){
                            alert("You have been delete a record successful")                            
                            $('.delete-service[data-slug="' + data.element + '"]').parents('tr').remove();
                        }else{
                            alert("There were some problems. Please check data again.")                            
                        }
                })
            }            
            return false;
        })
        
        $(".import-victim").click(function(){
            $("#tmp_file").data('slug', $(this).data('id'));
            $("#tmp_file").click();
            
        })
        
        $("#tmp_file").change(function(){
            var formData = new FormData();            
            formData.append('import_file', this.files[0]);
            formData.append('service_slug', $(this).data('slug'));
            $.ajax({
                url :   '{% url 'victim-import' %}',
                data:   formData,
                processData: false,
                contentType: false,
                type:   'POST'
            }).done(function (res) {
                alert(res.message)
                if(res.status == 'success'){
                    window.location = '{% url 'services-index'%}'
                }
            })
        })
    })
</script>
{% endblock %}