{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block site_title%} Labrador {% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/theme.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "DataTables/datatables.min.css"%}"/>
        
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
</head>
<body>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Labrador</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li {% if menu == 'service' %} class="active"{%endif%}><a href="{% url 'services-index' %}">Services</a></li>
              <li {% if menu == 'victim' %} class="active"{%endif%}><a href="{% url 'victim-index' %}">Victims</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container">
        {% block content %}{% endblock %}
      </div>

</body>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "DataTables/datatables.min.js" %}"></script>
<script src="{% static "js/application.js" %}"></script>
</html>